@import "./palette"
,       "./settings";

.center {
  text-align: center;
}

footer#footer {
  a:hover {
    text-decoration: none;
  }

  .top-bar {
    padding-top: 40px;
    padding-left: 35px;
    height: 117px;

    ul{
      li{
        font-size: 14px;
      }
    }

    .top-bar-left {
      .dropdown.menu li {
        font-size: 32px;
      }
    }
    .top-bar-right {
      .dropdown.menu {
        font-family: $adg3-font-family;
        font-size: 14px;

        }

      }
    }

  .logo {
    background-size: 152px 33px;
    width: 152px;
    height: 33px;
    top: -1px;
  }
}
